Repository xskipper-io/xskipper, pull requests merged in 2021-02, with the labels that each got.

#14 Fix Site links
  site/docs/api/configuration/configuration.md
  site/docs/api/configuration/parquet-mdstore-configuration.md
  site/docs/api/creating-new-plugin.md
  site/docs/api/indexing.md
  site/docs/concepts/data-skipping.md
  site/docs/concepts/indexing-flow.md
  site/docs/getting-started/quick-start-guide.md
Labels: DOCS

#15 configure DNS
  README.md
  notebooks/python/Xskipper - Python Sample.ipynb
  notebooks/scala/Xskipper - Scala Sample.ipynb
  site/mkdocs.yml
Labels: DOCS, EXAMPLES

#16 Setup DNS
  site/docs/CNAME
Labels: DOCS

#17 adding snapshot publish
  .github/workflows/publish_snapshot.yml
  build.sbt
Labels: INFRA

#19 Fix snapshot workflow
  build.sbt
  project/plugins.sbt
Labels: BUILD

#20 Release Snapshot
  .github/workflows/publish_snapshot.yml
Labels: INFRA

#21 Release Snapshot
  .github/workflows/publish_snapshot.yml
Labels: INFRA

#26 Release workflow
  .github/release-drafter.yml
  .github/workflows/publish_snapshot.yml
  .github/workflows/release.yml
Labels: INFRA

#27 Release workflow
  .github/workflows/release.yml
Labels: INFRA

#28 Release workflow
  .github/workflows/release.yml
Labels: INFRA

#29 Release workflow
  .github/workflows/release.yml
Labels: INFRA

#31 Release workflow
  .github/workflows/release.yml
Labels: INFRA

#33 Release workflow
  .github/workflows/release.yml
Labels: INFRA

#34 Release workflow
  .github/workflows/release.yml
Labels: INFRA

#36 build stuff cleanup
  .github/workflows/build.yml
  build/sbt-launch-0.13.18.jar
Labels: BUILD, INFRA

#38 small fix to workaround LocalFS millis issue
  src/main/scala/io/xskipper/index/execution/IndexBuilder.scala
  src/test/scala/io/xskipper/api/XskipperAPISuiteBase.scala
Labels: bug
