Repository xskipper-io/xskipper, pull requests merged in 2021-05, with the labels that each got.

#55 fix file status cache issue
  .github/workflows/build.yml
  .github/workflows/publish_snapshot.yml
  .github/workflows/release.yml
  project/plugins.sbt
  src/main/scala/org/apache/spark/sql/execution/datasources/xskipper/DataSkippingUtils.scala
Labels: BUILD, INFRA

#57 Backport latest changes to branch Spark 2.3
  .github/workflows/build.yml
  .github/workflows/publish_snapshot.yml
  .github/workflows/release.yml
  .github/workflows/site.yml
  project/plugins.sbt
  site/README.md
  site/mkdocs.yml
  src/main/scala/io/xskipper/configuration/Conf.scala
  src/main/scala/io/xskipper/configuration/XskipperConf.scala
  src/main/scala/io/xskipper/index/execution/IndexBuilder.scala
  src/main/scala/org/apache/spark/sql/execution/datasources/xskipper/DataSkippingUtils.scala
  src/test/scala/io/xskipper/configuration/XskipperConfSuite.scala
Labels: BUILD, DOCS, INFRA

#56 Backport latest changes to branch Spark 2.4
  .github/workflows/build.yml
  .github/workflows/publish_snapshot.yml
  .github/workflows/release.yml
  .github/workflows/site.yml
  project/plugins.sbt
  site/README.md
  site/mkdocs.yml
  src/main/scala/io/xskipper/configuration/Conf.scala
  src/main/scala/io/xskipper/configuration/XskipperConf.scala
  src/main/scala/io/xskipper/index/execution/IndexBuilder.scala
  src/main/scala/org/apache/spark/sql/execution/datasources/xskipper/DataSkippingUtils.scala
  src/test/scala/io/xskipper/configuration/XskipperConfSuite.scala
Labels: BUILD, DOCS, INFRA

#66 fix release site version
  .github/workflows/release.yml
Labels: INFRA

#68 Resync2.4master
  .github/workflows/release.yml
Labels: INFRA

#69 Resync2.3master
  .github/workflows/release.yml
Labels: INFRA

#71 set dedup during filter to OFF by default; update documentation
  site/docs/api/configuration/parquet-mdstore-configuration.md
  site/docs/getting-started/quick-start-guide.md
  src/main/scala/io/xskipper/metadatastore/parquet/ParquetMetadataStoreConf.scala
Labels: DOCS

#72 Fix docs for dedup during filter
  site/docs/api/configuration/parquet-mdstore-configuration.md
  site/docs/getting-started/quick-start-guide.md
Labels: DOCS
