Repository xskipper-io/xskipper, pull requests merged in 2021-01, with the labels that each got.

#1 Fix GitHub Actions
  .github/workflows/build.yml
  .github/workflows/site.yml
Labels: INFRA

#2 fix github actions
  .github/workflows/build.yml
  .github/workflows/site.yml
  README.md
Labels: DOCS, INFRA

#3 Deploy Site
  site/README.md
Labels: DOCS

#5 Fix site links
  site/docs/getting-started/quick-start-guide.md
  site/overrides/home.html
Labels: DOCS

#7 Fix Site links problem
  site/docs/api/scaladoc/1.2.0/com/ibm/metaindex/MetaIndexObjectInputStream.html
  site/docs/api/scaladoc/1.2.0/com/ibm/metaindex/index/index.html
  site/docs/api/scaladoc/1.2.0/com/ibm/metaindex/index/types/BloomFilterMetaData.html
  site/docs/api/scaladoc/1.2.0/com/ibm/metaindex/index/types/index.html
  site/docs/api/scaladoc/1.2.0/com/ibm/metaindex/metadata/metadatastore/index.html
  site/docs/api/scaladoc/1.2.0/com/ibm/metaindex/metadata/metadatastore/parquet/ParquetBaseClauseTranslator$$BloomFilterMetaDataTypeUDT.html
  site/docs/api/scaladoc/1.2.0/com/ibm/metaindex/metadata/metadatastore/parquet/ParquetBaseClauseTranslator$.html
  site/docs/api/scaladoc/1.2.0/com/ibm/metaindex/metadata/metadatastore/parquet/index.html
  site/docs/api/scaladoc/1.2.0/org/apache/spark/sql/types/MetaIndexMetadataTypeUDT.html
  site/overrides/home.html
Labels: DOCS

#9 fix scala docs
  .gitignore
  site/docs/api/scaladoc/1.2.0/lib/MaterialIcons-Regular.eot
  site/docs/api/scaladoc/1.2.0/lib/MaterialIcons-Regular.ttf
  site/docs/api/scaladoc/1.2.0/lib/MaterialIcons-Regular.woff
  site/docs/api/scaladoc/1.2.0/lib/abstract_type.svg
  site/docs/api/scaladoc/1.2.0/lib/class.svg
  site/docs/api/scaladoc/1.2.0/lib/class_comp.svg
  site/docs/api/scaladoc/1.2.0/lib/class_diagram.png
  site/docs/api/scaladoc/1.2.0/lib/diagrams.css
  site/docs/api/scaladoc/1.2.0/lib/diagrams.js
  site/docs/api/scaladoc/1.2.0/lib/index.css
  site/docs/api/scaladoc/1.2.0/lib/index.js
  site/docs/api/scaladoc/1.2.0/lib/jquery.js
  site/docs/api/scaladoc/1.2.0/lib/jquery.mousewheel.min.js
  site/docs/api/scaladoc/1.2.0/lib/jquery.panzoom.min.js
  site/docs/api/scaladoc/1.2.0/lib/lato-v11-latin-100.eot
  site/docs/api/scaladoc/1.2.0/lib/lato-v11-latin-100.ttf
  site/docs/api/scaladoc/1.2.0/lib/lato-v11-latin-100.woff
  site/docs/api/scaladoc/1.2.0/lib/lato-v11-latin-regular.eot
  site/docs/api/scaladoc/1.2.0/lib/lato-v11-latin-regular.ttf
  site/docs/api/scaladoc/1.2.0/lib/lato-v11-latin-regular.woff
  site/docs/api/scaladoc/1.2.0/lib/modernizr.custom.js
  site/docs/api/scaladoc/1.2.0/lib/object.svg
  site/docs/api/scaladoc/1.2.0/lib/object_comp.svg
  site/docs/api/scaladoc/1.2.0/lib/object_comp_trait.svg
  site/docs/api/scaladoc/1.2.0/lib/object_diagram.png
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-400i.eot
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-400i.ttf
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-400i.woff
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-700.eot
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-700.ttf
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-700.woff
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-700i.eot
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-700i.ttf
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-700i.woff
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-regular.eot
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-regular.ttf
  site/docs/api/scaladoc/1.2.0/lib/open-sans-v13-latin-regular.woff
  site/docs/api/scaladoc/1.2.0/lib/ownderbg2.gif
  site/docs/api/scaladoc/1.2.0/lib/ownerbg.gif
  site/docs/api/scaladoc/1.2.0/lib/ownerbg2.gif
  site/docs/api/scaladoc/1.2.0/lib/package.svg
  site/docs/api/scaladoc/1.2.0/lib/ref-index.css
  site/docs/api/scaladoc/1.2.0/lib/scheduler.js
  site/docs/api/scaladoc/1.2.0/lib/source-code-pro-v6-latin-700.eot
  site/docs/api/scaladoc/1.2.0/lib/source-code-pro-v6-latin-700.ttf
  site/docs/api/scaladoc/1.2.0/lib/source-code-pro-v6-latin-700.woff
  site/docs/api/scaladoc/1.2.0/lib/source-code-pro-v6-latin-regular.eot
  site/docs/api/scaladoc/1.2.0/lib/source-code-pro-v6-latin-regular.ttf
  site/docs/api/scaladoc/1.2.0/lib/source-code-pro-v6-latin-regular.woff
  site/docs/api/scaladoc/1.2.0/lib/template.css
  site/docs/api/scaladoc/1.2.0/lib/template.js
  site/docs/api/scaladoc/1.2.0/lib/tools.tooltip.js
  site/docs/api/scaladoc/1.2.0/lib/trait.svg
  site/docs/api/scaladoc/1.2.0/lib/trait_comp.svg
  site/docs/api/scaladoc/1.2.0/lib/trait_diagram.png
  site/docs/api/scaladoc/1.2.0/lib/type_diagram.png
Labels: DOCS, INFRA

#11 add gitattr
  .gitattributes
Labels: INFRA

#13 Avoid GitHub statistics from being collected on doc/misc files
  .gitattributes
Labels: INFRA

#12 Added build directory back
  build/sbt
  build/sbt-launch-0.13.18.jar
  build/sbt-launch-lib.bash
Labels: BUILD
