Repository xskipper-io/xskipper, pull requests merged in 2021-03, with the labels that each got.

#49 fix PySpark version
  .github/workflows/build.yml
  .github/workflows/publish_snapshot.yml
  .github/workflows/release.yml
  src/main/scala/io/xskipper/index/execution/IndexBuilder.scala
Labels: INFRA

#51 Add site versioning
  .github/workflows/release.yml
  .github/workflows/site.yml
  site/mkdocs.yml
Labels: DOCS, INFRA

#52 Add missing docs for site versioning
  site/README.md
Labels: DOCS

#53 Various fixes
  .github/workflows/release.yml
  src/main/scala/io/xskipper/configuration/XskipperConf.scala
Labels: INFRA
